.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
# Exclude source TypeScript but keep resources
src/**/*.ts
**/node_modules/**
**/.github/**
pnpm-lock.yaml
.editorconfig
.prettierrc
**/*.svg
